argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
args==0.1.0
asttokens==2.0.5
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.6.2
bs4==0.0.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
clint==0.5.1
cloudscraper==1.2.71
colorama==0.4.5
comtypes==1.1.14
crayons==0.4.0
cycler==0.11.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
ecapture==2.0.2
entrypoints==0.4
exceptiongroup==1.1.3
executing==1.1.0
Flask==2.0.1
gunicorn==20.1.0

